.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../assets/icons/grass.jpg);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  width: 63px;
  height: 63px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 3px solid rgb(1, 80, 1);

  &_m {
    width: 42px;
    height: 42px;

    .tile__img {
      width: 30px;
    }
  }

  &_s {
    width: 25.2px;
    height: 25.2px;

    .tile__img {
      width: 20px;
    }
  }

  &_dark {
    filter: brightness(70%);
  }

  &__num {
    &_one {
      color: rgb(2, 171, 2);
    }

    &_two {
      color: rgb(150, 150, 3);
    }

    &_three {
      color: rgb(166, 98, 8);
    }

    &_four {
      color: rgb(187, 50, 0);
    }

    &_five {
      color: rgb(167, 34, 14);
    }

    &_six {
      color: red;
    }

    &_seven {
      color: purple;
    }

    &_eight {
      color: blue;
    }
  }

  &__img {
    width: 50px;
  }

  &_opened {
    background-image: none;
    background-color: rgb(214, 212, 136);
  }

  &_mine {
    background-image: none;
    background-color: rgb(167, 34, 14);
  }
}

@media (max-width: 1300px) {
  .tile {
    width: 44px;
    height: 44px;
    border-radius: 5px;

    &_m {
      width: 29.3px;
      height: 29.3px;

      .tile__img {
        width: 23px;
      }
    }

    &_s {
      width: 17.6px;
      height: 17.6px;

      .tile__img {
        width: 15px;
      }
    }

    &__img {
      width: 38px;
    }
  }
}

@media (max-width: 750px) {
  .tile {
    width: 56px;
    height: 56px;

    &_m {
      width: 37.3px;
      height: 37.3px;

      .tile__img {
        width: 34px;
      }
    }

    &_s {
      width: 22.4px;
      height: 22.4px;

      .tile__img {
        width: 18px;
      }
    }
  }
}

@media (max-width: 630px) {
  .tile {
    width: 9vw;
    height: 9vw;

    &_m {
      width: 6vw;
      height: 6vw;

      .tile__img {
        width: 5.5vw;
      }
    }

    &_s {
      width: 3.6vw;
      height: 3.6vw;

      .tile__img {
        width: 3.2vw;
      }
    }

    &__img {
      width: 8.3vw;
    }
  }
}
