.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 15px;
  padding: 10px;

  &__panel {
    min-width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__counter {
    margin: 0;
    padding: 0 10px;
    font-family: "Staatliches";
  }

  &__container {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    align-items: center;
    gap: 10px;
  }

  &__board {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    background-color: rgb(141, 72, 28);
    border: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;

    &_dark {
      background-color: rgb(82, 44, 20);
    }
  }

  &__hunter {
    height: 170px;
    margin-left: auto;
  }

  &__bunny {
    width: 150px;
  }

  &__sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Staatliches";
  }
}

@media (max-width: 1300px) {
  .field {
    &__board {
      width: 480px;
      height: 480px;
      padding: 15px;
    }
    &__hunter {
      height: 130px;
    }

    &__bunny {
      width: 120px;
    }
  }
}

@media (max-width: 750px) {
  .field {
    &__container {
      display: flex;
    }

    &__hunter,
    &__bunny {
      display: none;
    }

    &__board {
      width: 600px;
      height: 600px;
    }
  }
}

@media (max-width: 630px) {
  .field {
    &__board {
      box-sizing: content-box;
      width: 90vw;
      height: 90vw;
      padding: 1.1vw;
    }

    &__panel {
      max-width: 258px;
      flex-wrap: wrap;
    }
  }
}
