.header {
  background-color: rgb(167, 34, 14);
  padding: 15px;

  &_dark {
    background-color: rgb(35, 16, 131);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: auto;
  }

  &__title {
    margin: 0;
    color: rgb(254, 202, 49);
    font-family: "Luckiest Guy";
    text-shadow: 3px 3px black;
  }

  &__subtitle {
    margin: 0;
    color: rgb(251, 224, 170);
    font-family: "Staatliches";
    text-shadow: 3px 3px black;
  }
}
