body {
  margin: 0;
}

.app {
  background-color: rgb(236, 242, 155);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_dark {
    background-color: rgb(44, 60, 107);
  }
}

.button {
  color: rgb(254, 202, 49);
  font-size: 1.3vw;
  font-family: "Luckiest Guy";
  text-shadow: 3px 3px black;
  background-color: unset;
  border: none;
  cursor: pointer;
  min-width: 4vw;
  border-radius: 1vw;
  border: 2px solid black;
  padding: 0.5vw;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
